{% extends base_template_name %}

{% block content %}
<h1> My Bookings </h1>
{% if sessions_list %}
<ol>
  {% for session in sessions_list %}
  <li>
    <ul>
      <li>Start Time: {{ session.start_time|date:"d M Y" }} {{ session.start_time|time:"H:i" }}</li>
      <li>End Time: {{ session.end_time|date:"d M Y" }} {{ session.end_time|time:"H:i" }}</li>
      <li>Tutor Name: {{ session.tutor.tutor.first_name }} {{ session.tutor.tutor.last_name }}</li>
    </ul>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No sessions are available.</p>
{% endif %}
{% endblock %}
