{% extends base_template_name %}

{% block content %}
<h2>My Wallet</h2>
    <p>Balance: ${{ wallet.balance }}</p>
    <a href="{% url 'transaction:add' %}">Add Money!</a>
<br>

<h2>Transaction Record:</h2>
{% if transactions_list %}
<ol>
  {% for trans in transactions_list %}
  <li>
    <ul>
      <li>Timestamp: {{ trans.timestamp|date:"d M Y" }} {{ trans.timestamp|time:"H:i" }}</li>
      <li>Amount: {{ trans.amount }}</li>
    </ul>
  </li>
  {% endfor %}
</ol>
{% else %}
<p>No records are available.</p>
{% endif %}
{% endblock %}
