{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <h2>Sign up as a tutor</h2>
    <select id ="tutor">
      <option value="Please select">Please select</option>
    <option value="Contact Tutor">Contact Tutor</option>
    <option value="Private Tutor">Private Tutor</option>
    </select>

    <form class="student_signup_forms" method="post" action="{% url 'signup_student' %}">
        {% csrf_token %}
        <table>
             <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>{{ form.designed_name.label_tag }}</td>
                <td>{{ form.designed_name }}</td>
            </tr>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td>{{ form.phone_number.label_tag }}</td>
                <td>{{ form.phone_number }}</td>
            </tr>
            <tr>
                <td>{{ form.university.label_tag }}</td>
                <td>{{ form.university }}</td>
            </tr>
            <tr>
                <td>{{ form.course_code.label_tag }}</td>
                <td>{{ form.course_code }}</td>
            </tr>
            <tr>
                <td>{{ form.tag.label_tag }}</td>
                <td>{{ form.tag }}</td>
            </tr>
            <tr>
                <td>{{ form.hour_rate.label_tag }}</td>
                <td>{{ form.hour_rate }}</td>
            </tr>
            <tr>
                <td>{{ form.introduction.label_tag }}</td>
                <td>{{ form.introduction }}</td>
            </tr>
        </table>

        <button type="submit">Sign up</button>

    </form>
{% endblock %}
