{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<html>
<head>
  <title>Tutoria</title>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Tutoria</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tutors:tutor_index' %}">Tutors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tutorials/cancel/">Cancel a session</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tutor/review/">Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'students:mybookings' %}">My Sessions</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tutors:myprofile' %}">My Profile</a>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="admin">Admin</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-link disabled" href="#">Register</a>
      {% endif %}
    </ul>
  </div>
</nav>
  <p></p><p></p>
  <div class="content container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
